<!-- <div *ngIf="navs?.length"
    class="text-sm text-txDark flex">
    <span class="pr-2 inline-flex"><a class="pr-2  inline-flex"
            [routerLink]="start[1]"><i class="material-icons pr-1  ">home</i><span
                class="underline hover:no-underline">{{start[0]}}</span></a><span
            class="text-gray-500">></span></span>
    <ng-container *ngFor="let nav of navs; let i = index">
        <span *ngIf="i !== navs.length - 1"
            class="pr-2 inline-flex"><a class="pr-2 underline hover:no-underline"
                [routerLink]="nav[1]">{{nav[0]}}</a><span class="text-gray-500">></span></span>
        <span *ngIf="i == navs.length - 1"><span class="pr-2 hover:no-underline"
                [routerLink]="nav[1]">{{nav[0]}}</span></span>
    </ng-container>

</div> -->