<label *ngIf="label"
    class="mb-2 text-txDark block opacity-75"
    [attr.for]="id ? id : null"
    [class.required]="required">{{label}}</label>
<div><textarea [required]="required"
        class="form-input"
        [formControl]="control"
        [attr.id]="id ? id : null"
        [placeholder]="placeholder"
        [class]="addClass"
        [cols]="cols"
        [name]="name"
        [rows]="rows"></textarea></div>
<div class="form-err-container"
    *ngIf="isValidate && control.invalid && (control.dirty || control.touched)">
    <ng-container *ngFor="let err of validate | keyvalue">
        <div *ngIf="control.errors[err.key]">{{err.value}}</div>
    </ng-container>
</div>