<main [@loadingScreen]
    class="container mt-6 mb-16 pt-12 xl:pt-20">
    <div class="flex flex-col xl:flex-row  ">
        <div #top
            class="w-full xl:w-9/12">
            <h1 *ngIf="!((products$ | async)?.length)"
                class="page-header mb-12">No products in {{categoryName$ | async}}
            </h1>
            <ng-container *ngIf="(products$ | async)?.length">
                <h1 class="page-header mb-12">Products in {{categoryName$ | async}}
                </h1>
                <div class="flex items-start flex-col mb-8 md:flex-row md:items-center">
                    <app-select [attr.disabled]="(itemsLoading$ | async)"
                        ngDefaultControl
                        name='selectAction'
                        (change)="sort($event)"
                        [(ngModel)]="selSortType"
                        #selectAction
                        [options]="actions"
                        [addClass]="'z-50'"
                        [addClassWrapper]="' mr-4'"></app-select>
                    <ng-container *ngIf="showPagination$ | async">
                        <div class="text-sm text-gray-700 flex items-center mt-4 mb-2 mr-4 md:my-0">
                            Total
                            {{itemsTotal$ | async}}
                            entries</div>
                        <app-pagination [pagesTotal]="pagesTotal$ | async"
                            [attr.disabled]="(itemsLoading$ | async)"
                            [currentPage]="currentPage$ | async"
                            (onChange)="paginationChange($event)"></app-pagination>
                    </ng-container>
                </div>
                <div *ngIf="(itemsLoading$ | async)"
                    id="searchLoading">
                    <div class="lds-default">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div [hidden]="!(products$ | async)?.length || (itemsLoading$ | async)">
                    <app-product-grid [products]="(products$ | async)"></app-product-grid>
                </div>
                <div
                    class="flex items-start flex-col mb-8 md:flex-row md:flex-no-wrap md:items-center">
                    <app-select [attr.disabled]="(itemsLoading$ | async)"
                        ngDefaultControl
                        name='selectAction'
                        (change)="sort($event)"
                        [(ngModel)]="selSortType"
                        #selectAction
                        [options]="actions"
                        [addClass]="'z-50'"
                        [addClassWrapper]="' mr-4'"></app-select>
                    <ng-container *ngIf="showPagination$ | async">
                        <div class="text-sm text-gray-700 flex items-center mt-4 mb-2 mr-4 md:my-0">
                            Total
                            {{itemsTotal$ | async}}
                            entries</div>
                        <app-pagination [pagesTotal]="pagesTotal$ | async"
                            [attr.disabled]="(itemsLoading$ | async)"
                            [currentPage]="currentPage$ | async"
                            (change)="paginationChange($event); scrollToElement(top)">
                        </app-pagination>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div class="w-full xl:w-3/12 xl:ml-20">
            <h1 class="text-2xl font-thin pb-4 border-b border-gray-300 ">Cart</h1>
            <app-cart></app-cart>
            <!-- <div class="">
                <h1 class="text-2xl font-thin pb-4 pt-6 border-b border-gray-300 mb-6">Product
                    Categories
                </h1>
                <div>
                    <div *ngFor="let cat of allCategories"
                        class="mb-4 flex items-center cursor-pointer"><i
                            class="material-icons pr-2 folder">folder</i><span
                            class="link-regular">{{cat.name}}</span></div>

                </div>
            </div> -->
        </div>
    </div>
</main>