i.material-icons {
    cursor: pointer;
    -webkit-touch-callout: none;
    user-select: none;
}
/* purgecss start ignore */
:host {
    display: flex;
    align-items: center;
}
/* purgecss end ignore */
