<div class="pagination-wrap justify-between flex ">

    <div class="flex">
        <div class="px-4 cursor-pointer pagination-item pagination-arrow"
            [class.inactive]="!showPrevBtn"
            (click)="showPrevBtn ? getPrevPage() : null">
            <app-icon>keyboard_arrow_left</app-icon>
        </div>
        <div class="px-4 cursor-pointer pagination-item"
            [class.range-symbol]="btn === rangeSymbol"
            [class.current]="btn === currentPage"
            *ngFor="let btn of paginationButtons"
            (click)="btn === currentPage ? null : goToPage(btn)">
            <span>{{btn}}</span>
        </div>
        <div class="px-4 cursor-pointer pagination-item pagination-arrow"
            [class.inactive]="!showNextBtn"
            (click)="showNextBtn ? getNextPage() : null">
            <app-icon>keyboard_arrow_right</app-icon>
        </div>

    </div>

</div>