.pagination-item {
    @apply w-8 h-8 flex  select-none items-center justify-center  cursor-pointer transition duration-200;
}
.pagination-item:hover {
    @apply bg-bgPrimary;
}
.range-symbol:hover {
    @apply bg-transparent  cursor-default;
}
.pagination-item.current {
    @apply bg-gray-200 cursor-default;
}
.pagination-arrow.inactive {
    i {
        color: #ccc;
    }
    &:hover {
        background: transparent;
        cursor: not-allowed;
        i {
            cursor: not-allowed;
        }
    }
}
/* purgecss start ignore */
:host([disabled='true']) {
    .pagination-item {
        color: #ccc !important;
    }
    .pagination-item:hover {
        background-color: transparent !important;
    }
}
/* purgecss end ignore */
ul.pagination li {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    i.material-icons {
        font-size: 20px;
    }
}
