:root {
    --bgPrimary: #d3ac2b;
    --txPrimary: #333d51;

    --txDark: #60646c;

    --txSecondary: #333d51;
    --bgSecondary: #0c4a60;
    --txInfo: #9aa0a7;
    --bgInfo: #9aa0a7;

    --bgPrimaryDark: #836b1a;
    --bgSecondaryDark: #072b39;

    --bgBody: #f9f9f9;
    --bgFooter: #f0f0f0;

    --bgInput: #f2f2f2;
    --brInput: #d8d8d8;
    --txInput: #43454b;

    --bgSuccess: #38c172;
    --bgSuccessDark: #1f9d55;

    --bgAlertInfo: #3d9cd2;
    --bgAlertInfoDark: #3485b3;

    --bgDanger: #e2401c;
    --bgDangerDark: #c03718;

    --bgSeparator: rgba(0, 0, 0, 0.05);
    --bgGrayLight: #fdfdfd;

    --bgTableStripedRow: #fbfbfb;

    --bg-gray-100: #f9f9f9;
    --bg-gray-200: #e6e6e6;

    --bgHeader: #d3ac2b;
    --txLogo: #333d51;
    --txHeader: #333d51;
}
/* --smd: 575px;
    --mdd: 767px;
    --lgd: 991px;
    --xld: 1149px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1150px; */
/* $smd: 575px;
$mdd: 767px;
$lgd: 991px;
$xld: 1149px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1150px;
 */
