<div id="reviewCarousel">
    <div class="slide-nav">
        <div class='nav-btn next-slide mr-2 cursor-pointer'
            #slideNavPrev>
            <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class='nav-btn next-slide cursor-pointer'
            #slideNavNext>
            <i class="material-icons">keyboard_arrow_right</i>
        </div>
    </div>
    <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig">
        <div class="slide"
            ngxSlickItem
            *ngFor="let review of reviews">
            <div class="pl-8">
                <app-star-rating [rating]="review.rating"></app-star-rating>
                <div class="mb-8"><span class="font-bold">{{review.productName}}</span>
                </div>
                <div class="mb-6">{{review.content}}</div>
            </div>
            <div class="flex items-center mt-16"><img src="/assets/img/person.png"
                    class="rounded-full person-icon h-12 w-12 object-cover object-center mr-4"
                    alt="">
                <div>
                    <div class="font-bold">{{review.authorName}}</div>
                    <div class="text-sm">{{review.createdAt}}</div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>