<div id="reviewCarousel">
    <div class="slide-nav">
        <div class='nav-btn prev-slide mr-2 cursor-pointer select-none'
            #slideNavPrev>
            <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class='nav-btn next-slide cursor-pointer select-none'
            #slideNavNext>
            <i class="material-icons">keyboard_arrow_right</i>

        </div>
    </div>
    <swiper class="carousel"
        [config]="slideConfig">
        <div class="slide"
            *ngFor="let review of reviews">
            <div class="pl-8">
                <div *ngIf="review.rating"
                    class="mb-4">
                    <app-star-rating [rating]="review.rating"></app-star-rating>
                </div>
                <div class="mb-8"><span [routerLink]="['/product', review.productId]"
                        class="font-semibold text-txDark tracking-wide  hover:cursor-pointer hover:underline">{{review.productName}}</span>
                </div>
                <div class="mb-6">{{review.content}}</div>
            </div>
            <div class="flex items-center mt-16"><img src="/assets/img/person.png"
                    class="rounded-full person-icon h-12 w-12 object-cover object-center mr-4"
                    alt="">
                <div>
                    <div class="font-bold">{{review.authorName}}</div>
                    <div class="text-sm">{{review.createdAt |   date: 'd MMM yyyy HH:mm'}}</div>
                </div>
            </div>
        </div>
    </swiper>
</div>