<header #header
    class="relative">

    <div class="container">
        <div class="flex justify-between items-center">
            <div>
                <div class=" "><a
                        class="text-txLogo select-none cursor-pointer font-semibold text-4xl"
                        [routerLink]="['/']"
                        routerLinkActive="router-link-active">Storefront</a>
                    <div class="text-sm text-txHeader -mt-1 italic">eCommerce System
                    </div>
                </div>
            </div>
            <div class="md:hidden flex items-center cursor-pointer"
                (click)="header.classList.toggle('menu-active')">
                <div id="burgerIcon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="flex-no-wrap hidden md:flex flex-auto justify-end">
                <form class="search-form mr-6 "
                    [formGroup]="searchService.searchForm"><input type="text"
                        class="search-input  placeholder-txPrimary border-t-4 border-txPrimary rounded-none w-full bg-transparent py-2 px-4 no-validate "
                        [formControl]="searchService.searchInput"
                        placeholder="Search products">
                    <app-icon opacity="0.75">search</app-icon>
                </form>
                <div class="flex items-center relative">
                    <app-icon size='sm'
                        [routerLink]="['/cart']">shopping_cart</app-icon>
                    <div *ngIf="totalQuantity$ | async"
                        class="cart-product-number">{{totalQuantity$ | async}}</div>
                </div>
            </div>
        </div>
        <nav class="mobile-menu flex flex-col md:hidden">
            <div class="flex-no-wrap flex flex-auto justify-end">
                <form class="search-form mt-4"
                    (submit)="header.classList.remove('menu-active')"
                    [formGroup]="searchService.searchForm"><input type="text"
                        class="search-input placeholder-opacity-50 placeholder-txPrimary border-t-4 border-txPrimary rounded-none w-full bg-transparent py-2 px-4 no-validate"
                        [formControl]="searchService.searchInput"
                        placeholder="Search products">
                    <app-icon>search</app-icon>
                </form>
                <!-- <div class="flex items-center"><i
                        class="material-icons hover:text-bgPrimary cursor-pointer"
                        style="font-size:24px;">shopping_cart</i></div> -->
            </div>
            <div class="mt-4 font-semibold flex justify-end items-center"><a
                    class="flex items-center"
                    [routerLink]="['/cart']">
                    <span>View cart</span>
                    <app-icon class="pl-1">arrow_right_alt</app-icon>
                </a></div>
            <ul id="mobileMenu"
                class="flex flex-col items-start">
                <li *ngFor="let cat of (categoryList$ | async)"
                    [routerLink]="['/category', cat._id]"
                    class="font-thin  cursor-pointer leading-8 text-lg"
                    routerLinkActive="active-link"><span>{{cat.name}}</span></li>
            </ul>
        </nav>
        <ul class="flex-wrap list-none mt-4 text-txHeader hidden md:flex"
            id="desktopMenu">
            <li *ngFor="let cat of (categoryList$ | async)"
                class="font-thin  cursor-pointer mr-4 leading-8 text-lg"
                [routerLink]="['/category', cat._id]"
                routerLinkActive="active-link"><span>{{cat.name}}</span></li>
        </ul>
        <!--     <div class="bottom-bar flex justify-between">
            <ul class="category-list-desktop flex-no-wrap md:w-9/12">
                <li *ngFor="let cat of categoryList"
                    class="cat-link"
                    [routerLink]="['/category', cat._id]"
                    routerLinkActive="active-link"><span>{{cat.name}}</span></li>
            </ul>
            <div class="cart-info flex justify-between md:w-3/12 ml-20">
                <div><span class="price">
                        <app-price [price]="cart.totalPrice"></app-price>
                    </span><span class="text-sm text-bgInfo text-bgInfo">{{cart.totalQuantity}}
                        items</span></div>
                <i class="material-icons">shopping_cart</i>
                <div class="cart-content p-4 z-50">
                    <app-cart [isDark]="true"></app-cart>
                </div>

            </div>
        </div> -->
    </div>
</header>