<main class="container mt-16 mb-16">
    <section class="product-categories">
        <h1 class="page-header">Top Rated Products</h1>
        <app-product-grid [products]="topRated"></app-product-grid>
    </section>
    <section>
        <h1 class="page-header">Sale!</h1>
        <app-product-grid [products]="saleProducts"></app-product-grid>
    </section>
    <section [hidden]="!reviews.length"
        id="recentReviews">
        <h1 class="page-header">Recent reviews</h1>

        <app-review-slider *ngIf="reviews.length"
            [reviews]="reviews"></app-review-slider>
    </section>

</main>