<div id="shopApp"
    class="flex flex-col"
    [class.app-loading]="(loading.display$ | async)">
    <div class="loading-screen-alert"
        *ngIf="(alertService.display | async)"
        (click)="alertService.hide()"
        [@modalBg]>
        <div class="alert-modal rounded bg-white p-4 flex flex-col">
            <div class="flex-grow mb-4">
                <h1 class="text-2xl border-b border-bgPrimary tracking-wide pb-2 mb-4 relative">
                    {{alertService.header}}
                    <!-- <i class="material-icons absolute right-0"
                        (click)="alertService.hide()">close</i> -->
                    <app-icon class="absolute right-0"
                        (click)="alertService.hide()"></app-icon>
                </h1>
                <div class="break-words">{{alertService.message}}</div>
            </div>
        </div>
    </div>
    <app-header [routeChange$]="routeChange$"></app-header>
    <main *ngIf="searchMode"
        [@loadingScreen]
        class="container mt-6 flex-auto mb-16 pt-12 xl:pt-20">


        <div class="flex flex-col xl:flex-row  "
            #top>
            <div class="w-full xl:w-9/12">

                <div *ngIf="!products.length && !searchLoading"
                    class=" mb-8 flex flex-col-reverse md:flex-row md:justify-between md:items-center">
                    <h1 class="page-header mb-0">No results for "{{filterParams.search}}" :(</h1>

                    <app-icon class=" md:mt-2 cursor-pointer"
                        size="xl"
                        title="Cancel search"
                        (click)="cancelSearch()">close</app-icon>
                </div>
                <div *ngIf="products.length || searchLoading"
                    class=" mb-8 flex flex-col-reverse md:flex-row md:justify-between md:items-center">
                    <h1 class="page-header mb-0"
                        *ngIf="filterParams.search">Search results for "{{filterParams.search}}"
                    </h1>
                    <h1 class="page-header mb-0"
                        *ngIf="!filterParams.search">Search products
                    </h1>
                    <app-icon class=" md:mt-2 cursor-pointer"
                        size="xl"
                        title="Cancel search"
                        (click)="cancelSearch()">close</app-icon>
                </div>
                <div *ngIf="searchLoading"
                    id="searchLoading">
                    <div class="lds-default">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <!-- [hidden]="!products?.length || searchLoading" -->
                <div *ngIf="products?.length && !searchLoading">
                    <div class="flex items-start flex-col mb-8 md:flex-row md:items-center">
                        <app-select [attr.disabled]="itemsLoading"
                            ngDefaultControl
                            name='selectAction'
                            (change)="sort($event)"
                            [(ngModel)]="selSortType"
                            #selectAction
                            [options]="actions"
                            [addClass]="'z-50'"
                            [addClassWrapper]="' mr-4'"></app-select>
                        <ng-container *ngIf="showPagination">
                            <div
                                class="text-sm text-gray-700 flex items-center mt-4 mb-2 mr-4 md:my-0">
                                Total
                                {{itemsTotal}}
                                entries</div>
                            <app-pagination [pagesTotal]="pagesTotal"
                                [attr.disabled]="itemsLoading"
                                [currentPage]="currentPage"
                                (change)="paginationChange($event)"></app-pagination>
                        </ng-container>
                    </div>
                    <app-product-grid [products]="products"></app-product-grid>
                    <div class="flex items-start flex-col mb-8 md:flex-row md:items-center">
                        <app-select [attr.disabled]="searchLoading"
                            ngDefaultControl
                            name='selectAction'
                            (change)="sort($event); "
                            [(ngModel)]="selSortType"
                            #selectAction
                            [options]="actions"
                            [addClass]="'z-50'"
                            [addClassWrapper]="' mr-4'"></app-select>
                        <ng-container *ngIf="showPagination">
                            <div
                                class="text-sm text-gray-700 flex items-center mt-4 mb-2 mr-4 md:my-0">
                                Total
                                {{itemsTotal}}
                                entries</div>
                            <app-pagination [pagesTotal]="pagesTotal"
                                [attr.disabled]="searchLoading"
                                [currentPage]="currentPage"
                                (change)="paginationChange($event); scrollToElement(top);">
                            </app-pagination>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="w-full xl:w-3/12 xl:ml-20">
                <h1 class="text-2xl font-thin pb-4 border-b border-gray-300 ">Cart</h1>
                <app-cart></app-cart>
                <!-- <div class="">
                    <h1 class="text-2xl font-thin pb-4 pt-6 border-b border-gray-300 mb-6">Product
                        Categories
                    </h1>
                    <div>
                        <div *ngFor="let cat of allCategories"
                            class="mb-4 flex items-center cursor-pointer"><i
                                class="material-icons pr-2 folder">folder</i><span
                                class="link-regular">{{cat.name}}</span></div>

                    </div>
                </div> -->
            </div>
        </div>
    </main>
    <div id="routerWrap"
        class="flex-auto "
        [hidden]="searchMode"
        [@routeAnimation]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"
            (activate)='onRouteActivate()'></router-outlet>
    </div>
    <app-footer></app-footer>
    <div *ngIf="loading.display$ | async"
        id="loadingScreen"
        [@loadingScreen]>
        <div class="lds-default">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>