<main class="container mb-16 mt-16 flex-grow">
    <h1 class="page-header mb-12">Cart</h1>
    <div [@fadeIn]
        *ngIf="(isCartEmpty$ | async)"
        class="text-xl">Your cart is empty.</div>

    <app-cart-table *ngIf="!(isCartEmpty$ | async)"
        [cartItems$]="cartItems$"
        (deleteItem)="deleteItem($event)"
        (updateItem)="updateItem($event)"></app-cart-table>
    <!-- <div class="flex flex-col md:flex-row mb-12">
        <div class="flex flex-col md:flex-row w-full mb-6 md:w-1/2 md:mb-0">
            <div class="hidden">
                <input type="text"
                    placeholder="Your coupon code"
                    class="form-input w-full mb-4 md:w-auto md:mb-0">
                <button
                    class="btn btn-primary w-full flex-shrink-0 md:w-auto md:h-auto md:ml-2">Apply
                    coupon</button>
            </div>
        </div>
        <div class="flex justify-end md:w-1/2 pt-4 border border-bgSeparator md:border-0 md:pt-0 ">
            <app-button addClass="btn-primary" (click)="cart.update()">Update cart</app-button>
        </div>
    </div> -->
    <div *ngIf="!(isCartEmpty$ | async)"
        [@fadeIn]
        class="flex md:justify-end">
        <div class="w-full md:w-1/2">
            <div class="flex justify-between w-full">
                <h1 class="text-2xl font-thin mb-4">Cart totals</h1>
                <span
                    class="p-2 bg-bgSecondary text-white text-sm rounded self-start cursor-pointer select-none hover:bg-bgSecondaryDark"
                    (click)="updateTotals()">Update totals</span>
            </div>
            <table class="table-auto w-full mb-4">
                <tbody>
                    <tr>
                        <td class="p-4 font-semibold bg-gray-100">Subtotal</td>
                        <td class="p-4">
                            <app-price [price]="totalPrice$ | async"></app-price>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 font-semibold bg-gray-100">Total</td>
                        <td class="p-4">
                            <app-price [price]="totalPrice$ | async"></app-price>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-button addClass="btn-secondary h-16 w-full text-2xl"
                (click)="goToCheckout()"
                routerLinkActive="router-link-active">Proceed
                to checkout</app-button>

        </div>
    </div>
</main>