.notification {
    /* purgecss ignore */
    & > div {
        border-left: 12px solid;
        border-radius: 4px;
        padding: 12px;
        text-overflow: break-word;
    }
    /* purgecss ignore */
    & > div.bg-bgSuccess {
        border-color: var(--bgSuccessDark);
    }
    /* purgecss ignore */
    & > div.bg-bgInfo {
        border-color: var(--bgInfoDark);
    }
    /* purgecss ignore */
    & > div.bg-bgDanger {
        border-color: var(--bgDangerDark);
    }

    @media screen and (min-width: 768px) {
        .message {
            max-width: 70%;
        }
    }
}
#notifications {
    width: calc(100% - 2rem);
    max-width: 30rem;
    opacity: 0.9;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 500;
}
.close-btn {
    top: 7px;
    right: 14px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: transparent;
    .arr1 {
        height: 15px;
        width: 1px;
        margin-left: 12px;
        background-color: #fff;
        transform: rotate(45deg);
        z-index: 1;
    }

    .arr2 {
        height: 15px;
        width: 1px;
        background-color: #fff;
        transform: rotate(90deg);
        z-index: 2;
    }
}
